name: pdv-prod
services:
  pdv:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pdv_prod
    restart: always
    labels:
    - traefik.enable=true
    - traefik.docker.network=proxy
    - traefik.http.routers.pdv.rule=Host(`lojasys.mentoark.com.br`)
    - traefik.http.routers.pdv.entrypoints=websecure
    - traefik.http.routers.pdv.tls.certresolver=letsencrypt
    - traefik.http.services.pdv.loadbalancer.server.port=80
    networks:
    - proxy
    deploy:
      resources:
        limits:
          memory: 256m
networks:
  proxy:
    external: true
